
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0.0
    </div>
    <strong>Bản quyền &copy; 2022 <a href="">LNT</a>.</strong> All rights
    reserved.
</footer>